* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

 /* ******************************************************************************* */

.header {
  width: 100%;
  width: 90rem;
  height: 7.313rem;
  background-color:rgba(46, 148, 138, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 28.125rem) {
  .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      height: 7.313rem;
      width: 68.125rem;
  }
}

.logo {
  width: 15.25rem;
  height: 4.813rem;
  padding-left: 5.125rem;    
}

@media screen and (max-width: 28.125rem) {
  .logo img {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
      padding: 1.25rem;
  }
}

.menu * {
  text-decoration: none;
  list-style: none;
  color: #FDFDFD;
  font-size: 1.125rem;
}

@media screen and (max-width: 28.125rem) {
  .menu {
      height: 1.875rem;
  }
}

.menu ul {
  display: flex;
  gap: 2.313rem;
  padding-right: 6.438rem;
}

.menu ul li {
  font-weight: 700;
}

@media screen and (max-width: 28.125rem) {
  .menu, .menu ul, .menu ul li {
      display: inline;
      flex-direction: row;
      align-items: center;
      padding: 1.25rem;
      justify-content: space-around;
      padding-bottom: 1.25rem;
  }
}

.intro {
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 28.125rem) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro h1 {
    position: absolute;
    width: 32rem;
    height: 7.875rem;
    left: 12.625rem;
    top: 13.125rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3.438rem;
    line-height: 3.938rem;
    color: #FF4081;
    align-self: flex-start;
}

@media screen and (max-width: 28.125rem) {
  .intro h1 {
    left: 1.563rem;
    top: 9.375rem;
    font-size: 1.875rem;
  }
}

.intro p {
    position: absolute;
    width: 28.813rem;
    height: 11.625rem;
    left: 12.625rem;
    top: 22.375rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #000000;
    text-align: justify;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

@media screen and (max-width: 28.125rem) {
  .intro p {
    left: 1.563rem;
    top: 14.375rem;
  }
}

.intro img {
    position: absolute;
    align-self: flex-end;
    width: 100%;
    width: 23.75rem;
    height: 23.813rem;
    top: 12.313rem;
    left: 46.938rem;
}

@media screen and (max-width: 28.125rem) {
  .intro img {
    width: 75%;
    display: flex;
    flex-direction: column;
    left: 34.375rem;
    top: 10rem;;
  }
}

@media screen and (max-width: 28.125rem) {
  #aula1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.video1 {
    box-sizing: border-box;
    position: absolute;
    width: 28.875rem;
    height: 16.313rem;
    top: 45.875rem;
    left: 13.313rem;
    border: 0.188rem solid #8E8E8E;
}

@media screen and (max-width: 28.125rem) {
  .video1 {
    left: 1.563rem;
    top: 37.5rem;
  }
}

.circulo1 {
    position: absolute;
    width: 5.625rem;
    height: 5.625rem;
    left: 24.938rem;
    top: 51.25rem;
    border: 0.063rem solid #000000;
    border-radius: 50%;
}

@media screen and (max-width: 28.125rem) {
  .circulo1 {
    left: 13.125rem;
    top: 42.5rem;
  }
}

.play1 {
    box-sizing: border-box;
    position: absolute;
    width: 3.5rem;
    height: 3.313rem;
    left: 26.087rem;
    top: 52.336rem;
    border: 0.063rem solid #000000;
    transform: rotate(90deg);
}

@media screen and (max-width: 28.125rem) {
  .play1 {
    top: 43.75rem;
    left: 14.25rem;
  }
}

#aula1 h2 {
    position: absolute;
    width: 32rem;
    height: 2.5rem;
    left: 46.938rem;
    top: 45.875rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.188rem;
    line-height: 2.5rem;
    color: #FF4081;
}

@media screen and (max-width: 28.125rem) {
  #aula1 h2 {
    left: 34.375rem;
    top: 37.5rem;
  }
}

#aula1 p {
    position: absolute;
    width: 31.313rem;
    height: 12.188rem;
    left: 46.938rem;
    top: 50rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.438rem;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: justify;
}

@media screen and (max-width: 28.125rem) {
  #aula1 p {
    left: 34.375rem;
    top: 41rem;
    font-weight: 200;
    width: 28.125rem;
  }
}

#aula1 hr {
    position: absolute;
    width: 77.75rem;
    height: 0.188rem;
    left: 6.125rem;
    top: 66.75rem;
    background-color: #C4C4C4;
}

@media screen and (max-width: 28.125rem) {
  #aula1 hr {
    top: 58.438rem;
    left: 1.563rem;
    width: 62.5rem;
  }
}

.video2 {
    box-sizing: border-box;
    position: absolute;
    width: 28.875rem;
    height: 16.313rem;
    top: 71.625rem;
    left: 13.313rem;
    border: 0.188rem solid #8E8E8E;
}

@media screen and (max-width: 28.125rem) {
  .video2 {
    left: 1.563rem;
    top: 62.5rem;
  }
}

.circulo2 {
    position: absolute;
    width: 5.625rem;
    height: 5.625rem;
    left: 24.938rem;
    top: 77rem;
    border: 0.063rem solid #000000;
    border-radius: 50%;
}

@media screen and (max-width: 28.125rem) {
  .circulo2 {
    left: 13.125rem;
    top: 68.125rem;
  }
}

.play2 {
    box-sizing: border-box;
    position: absolute;
    width: 3.5rem;
    height: 3.313rem;
    left: 26.087rem;
    top: 78.086rem;
    border: 0.063rem solid #000000;
    transform: rotate(90deg);
}

@media screen and (max-width: 28.125rem) {
  .play2 {
    top: 69.375rem;
    left: 14.25rem;
  }
}

#aula2 h2 {
    position: absolute;
    width: 6.625rem;
    height: 2.5rem;
    left: 46.875rem;
    top: 71.625rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.188rem;
    line-height: 2.5rem;
    color: #FF4081;
}

@media screen and (max-width: 28.125rem) {
  #aula2 h2 {
    left: 34.375rem;
    top: 62.5rem;
  }
}

#aula2 p {
    position: absolute;
    width: 31.313rem;
    height: 12.188rem;
    left: 46.875rem;
    top: 75.75rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.438rem;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: justify;
}

@media screen and (max-width: 28.125rem) {
  #aula2 p {
    left: 34.375rem;
    top: 66rem;
    font-weight: 200;
    width: 28.125rem;
  }
}

#aula2 hr {
    position: absolute;
    width: 77.75rem;
    height: 0.188rem;
    left: 6.125rem;
    top: 92.5rem;
    background: #C4C4C4;
}

@media screen and (max-width: 28.125rem) {
  #aula2 hr {
    top: 83rem;
    left: 1.563rem;
    width: 62.5rem;
  }
}

.video3 {
    box-sizing: border-box;
    position: absolute;
    width: 28.875rem;
    height: 16.313rem;
    top: 97.375rem;
    left: 13.25rem;
    border: 0.188rem solid #8E8E8E;
}

@media screen and (max-width: 28.125rem) {
  .video3 {
    left: 1.563rem;
    top: 87rem;
  }
}

.circulo3 {
    position: absolute;
    width: 5.625rem;
    height: 5.625rem;
    left: 24.875rem;
    top: 102.75rem;
    border: 0.063rem solid #000000;
    border-radius: 50%;
}

@media screen and (max-width: 28.125rem) {
  .circulo3 {
    left: 13.125rem;
    top: 91.875rem;
  }
}

.play3 {
    box-sizing: border-box;
    position: absolute;
    width: 3.5rem;
    height: 3.313rem;
    left: 26.087rem;
    top: 103.836rem;
    border: 0.063rem solid #000000;
    transform: rotate(90deg);
}

@media screen and (max-width: 28.125rem) {
  .play3 {
    top: 93.125rem;
    left: 14.25rem;
  }
}

#aula3 h2 {
    position: absolute;
    width: 32rem;
    height: 2.5rem;
    left: 46.875rem;
    top: 97.375rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.188rem;
    line-height: 2.5rem;
    color: #FF4081;
}

@media screen and (max-width: 28.125rem) {
  #aula3 h2 {
    left: 34.375rem;
    top: 87rem;
  }
}

#aula3 p {
    position: absolute;
    width: 31.313rem;
    height: 12.188rem;
    left: 46.875rem;
    top: 101.5rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.438rem;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: justify;
}

@media screen and (max-width: 28.125rem) {
  #aula3 p {
    left: 34.375rem;
    top: 90.5rem;
    font-weight: 200;
    width: 28.125rem;
  }
}

/* ******************************************************************************* */
  
.footer {
  position: absolute;
  height: 12.938rem;
  width: 90rem;
  background-color: rgba(65, 148, 136, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8rem;
  padding-right: 8.563rem;
  top: 118.375rem;
}

@media screen and (max-width: 28.125rem) {
  .footer {
    height: 21.875rem;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 68.125rem;
    bottom: 0rem;
  }
}

.Logo-1 {  
  width: 6.25rem;
  height: 3.125rem;
}

.menufinal * {
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  font-family: 'Ubuntu';
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@media screen and (max-width: 28.125rem) {
  .menufinal {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

.group-30 {
  border: 0.125rem solid #FFFFFF;
  border-radius: 3.875rem;
  color: #FFFFFF;
  Width: 18.063rem;
  height: 3.188rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-size: 1.25rem;
  line-height: 1.438rem;
  margin-bottom: 0.625rem;
 }

 .group-29 {
  border: 0.125rem solid #FFFFFF;
  border-radius: 3.875rem;
  color: #FFFFFF;
  height: 3.188rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-size: 1.25rem;
  line-height: 1.438rem;
  width: 18.063rem;
}  